/*@font-face {
    font-family: 'montserratregular';
    src: url('~@/assets/fonts/montserrat/montserrat-regular.eot');
    src: url('~@/assets/fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('~@/assets/fonts/montserrat/montserrat-regular.woff2') format('woff2'),
         url('~@/assets/fonts/montserrat/montserrat-regular.woff') format('woff'),
         url('~@/assets/fonts/montserrat/montserrat-regular.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-weight: 700;
    font-style: normal;
    font-display: block;
    font-family: 'Gordita-Medium';src: url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_1_0.eot');src: url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_1_0.eot?#iefix') format('embedded-opentype'),url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_1_0.woff2') format('woff2'),url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_1_0.woff') format('woff'),url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_1_0.ttf') format('truetype');}

    
  @font-face {
    font-weight: 400;
    font-style: normal;
    font-display: block;
    font-family: 'Gordita-Regular';src: url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_2_0.eot');src: url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_2_0.eot?#iefix') format('embedded-opentype'),url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_2_0.woff2') format('woff2'),url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_2_0.woff') format('woff'),url('//cdn.shopify.com/s/files/1/1537/5723/files/3A4BAA_2_0.ttf') format('truetype');
}

